/masks
/NRV0719
/test_masks
/used_masks
/used-masks
/test-masks
/results
/fine-crack-venv
/drawn-cracks
/papers
/.vscode
/test

# Added standard Python ignores
__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
.eggs/
.venv/
venv/
logging.log
*.csv
*.json
.idea/
.DS_Store